body { font-family: 'Audiowide', cursive; font-family: 'Orbitron', sans-serif;
    letter-spacing: .3rem; background-color:#171717;
}

img { margin: 0px; padding: 0px; }

h1, h2 { text-align: center; color: #fafafa; font-weight: 500; }

h1 { font-size: 3rem; }

h2 { font-size: 2rem; }

.game-link-box, .game-link-box img { width: 200px; text-align: center; }

.game-link-box { margin: 50px auto; background-color: #444; padding: 10px; border-radius: 8px; }
