body { font-family: 'Audiowide', cursive; font-family: 'Orbitron', sans-serif;
    letter-spacing: .3rem; background-color:#171717;
}

img { margin: 0px; padding: 0px; width: 320px; border: 2px solid black; }

img:hover { opacity: 0.5; }

h1, h2 { text-align: center; color: #fafafa; font-weight: 500; }

h1 { font-size: 3rem; }

h2 { font-size: 2rem; }

.game-link-box { width: 324px; text-align: center; margin: 50px auto; padding: 2px 10px 10px;
    background-color: #444; padding: 10px; border: 1px solid #999; border-radius: 8px;
}
